#runner {
    background-color: aqua;
    color:blue;
    padding-left: 50px;
    font-family:  Calibri;
    font-style: italic;

}

.popping{
    background-color: antiquewhite;
    color:brown;
    padding-left: 50px;
    font-family: 'Times New Roman';
    font-style: italic;
}